<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand my-0 mr-md-auto"href="#">
    <%= image_tag('logo.svg', class: 'logo', alt: 'logo') %>
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
  </nav>
  <a class="btn btn-outline-primary" href="https://www.dropbox.com/s/2lplg5rvidfnpnp/quirky-avatars.sketch?dl=0" target="_blank">Download Sketch</a>
</div>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container" id="top">
      <h1 class="jumbotron-heading">Quirky Avatars</h1>
      <p class="lead text-muted">Quirky is a free collection pattern avatars that you can use for your apps. Easy copy SVG code or download PNG.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Download SVGs</a>
        <a href="" class="btn btn-secondary my-2">Share</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% for i in 1..21 %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag("avatars/avatar#{i}.svg", class: 'bd-placeholder-img card-img-top', alt: 'logo') %>
              <div class="card-body">
                <div class="d-flex justify-content-end align-items-center">
                  <%= link_to"svg", asset_path("avatars/avatar#{i}.svg"), class: "download-link text-muted", download: "avatar#{i}.svg" %>
                  <small class="text-muted">&nbsp;|&nbsp;</small>
                  <%= link_to"png", asset_path("avatars/avatar#{i}.svg"), class: "download-link text-muted", download: "avatar#{i}.png" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#top">Back to top</a>
    </p>
    <p>Made with <span class="coffee">&#9749;</span> by <a href="https://twitter.com/ahilapillai">@ahilapillai</a> and <a href="https://twitter.com/jayshreeanand">@jayshreeanand</a></p>
    <!-- <p>© Zona 2019</p> -->
  </div>
</footer>
