.text-muted:hover, a:hover {
  color: #2E30DB !important;
  text-decoration: none !important;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.card-img-top {
  margin-top: 40px;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card:hover {
  background-color: #eee;
}

.logo {
  height: 35px;
  padding-left: 10px;
}

a {
  color: #2E30DB;
}

.btn-outline-primary {
  color: #2E30DB;
  border-color: #2E30DB;
}

.btn-primary:hover {
  background-color: #0C0EB0;
}

.btn-primary, .btn-outline-primary:hover {
  background-color: #2E30DB;
  border-color: #2E30DB;
}

.card-img-top {
  width: 100%;
  height: 250px;
}

.coffee {
  font-size: 25px;
}

.download-link {
  font-size: 80%;
}
